<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-tabs pull-right">
            <li class="{{ profile_info }}">
                <a href="{% url 'profile' %}">Profile info</a>
            </li>
            <li class="{{ added_resources }}">
                <a href="{% url 'user_resources' %}">Added resources</a>
            </li>
            <li class="{{ added_reviews }}">
                <a href="">Added reviews</a>
            </li>
        </ul>
    </div>
</div>
<br>