{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studypy</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/nav.css' %}">
</head>
<body>
{% block body %}
    <div class="container">
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-xs-4">

            </div>
            <!--
                        -->
            <div class="col-xs-4">
                <div class="panel panel-default">
                                <div class="panel-heading"><h4>Login to Your Account</h4></div>

                    <div class="panel-body">
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger"
                                 role="alert">{{ error }}</div>
                        {% endfor %}
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}">Password</label>
                                {{ form.password }}
                            </div>
                            <button type="submit" class="btn btn-default">Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--
                        -->
            <div class="col-xs-4">

            </div>
        </div>
    </div>

{% endblock body %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>