{% extends '__base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <h1>Enter new password</h1>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" class="btn btn-primary" value="Change password">
                </form>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
{% endblock body %}