{% extends '__base.html' %}

{% block body %}
    <div class="container">
        {% include 'users/_profile_nav.html' with added_reviews='active' %}
        <br>
        <br>

        <div class="container">
            {% for review in reviews %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ review.resource.name }}</h3>
                        <strong>{{ review.mark }}/5</strong>
                        at {{ review.created_at|date }}
                        <a class="btn btn-warning"
                           href="{% url 'update_review' pk=review.pk %}">Edit</a>
                    </div>
                    <div class="panel-body">
                        {{ review.contents }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
