{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studypy</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/nav.css' %}">
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
{% include '_nav.html' %}
{% include '_messages.html' %}
{% block body %}

{% endblock body %}
{% block underbody %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock underbody %}

</body>
</html>