<div class="container-narrow">
    <div class="row">
        <div class="col-xs-12">
            {% if show_add_review_button %}
                <a class="btn btn-success" href="{% url 'add_review' pk=resource_pk %}">Add review</a>
            {% endif %}
            {% if show_add_resource_button %}
                <a class="btn btn-success" href="{% url 'add_resource' %}">Add
                    resource</a>
            {% endif %}
            {% if show_tags_button %}
                <a class="btn btn-primary" href="{% url 'tags' %}">Tags</a>
            {% endif %}
            {% if show_resources_button %}
                <a class="btn btn-primary"
                   href="{% url 'newest' %}">Resources</a>
            {% endif %}
        </div>
    </div>
</div>
<br>
