__pycache__/
*.iml
/.idea
/env
/.idea/*
!/.idea/.name
!/.idea/fileTemplates/
!/.idea/runConfigurations/
!/.idea/atlassian-ide-plugin.xml
!/.idea/codeStyleSettings.xml
#!/.idea/modules.xml
!/.idea/vcs.xml
#!/mendayz.iml
#!/src.iml

*.ipr
*.iws

out/

atlassian-ide-plugin.xml

.vagrant/



