<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-tabs pull-right">
            <li class="{{ hot }}">
                <a href="{% url 'hot' %}">Hot</a>
            </li>
            <li class="{{ top_rated }}">
                <a href="{% url 'top_rated' %}">Top rated</a>
            </li>
            <li class="{{ newest }}">
                <a href="{% url 'newest' %}">Newest</a>
            </li>
        </ul>

    </div>
    <form action="" method="get" class="form-inline muted">
        {{ filter_form.tags }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<br>