<div class="container-narrow">
    <div class="masthead">
        {% if show_resource_list_nav %}
            <ul class="nav nav-tabs pull-right">
                <li class="{{ hot }}">
                    <a href="">Hot</a>
                </li>
                <li class="{{ top_rated }}">
                    <a href="">Top rated</a>
                </li>
                <li class="{{ newest }}">
                    <a href="{% url 'newest' %}">Newest</a>
                </li>
            </ul>
        {% endif %}
        <h1 class="muted">
            {% if show_add_review_button %}
                <button class="btn btn-success">Add review</button>
            {% endif %}
            <button class="btn btn-success">Add resource</button>
            {% if show_tags_button %}
                <a class="btn btn-primary" href="{% url 'tags' %}">Tags</a>
            {% endif %}
            {% if show_resources_button %}
                <a class="btn btn-primary"
                   href="{% url 'newest' %}">Resources</a>
            {% endif %}
        </h1>
    </div>
</div>