<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-tabs pull-right">
            <li class="active">
                <a href="http://www.tangowithdjango.com/book/">Hot</a>
            </li>
            <li>
                <a href="http://www.tangowithdjango.com/rango/">Top rated</a>
            </li>
            <li>
                <a href="http://www.tangowithdjango.com/book17/">Newest</a>
            </li>
        </ul>
        <h1 class="muted">studypy</h1>
    </div>
</div>