{% extends '__base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        {% include 'resources/_second_nav.html' with show_add_resource_button=True show_resource_list_nav=True show_tags_button=True %}
        {% include 'resources/_resource_list_nav.html' with newest='active' %}
        {% include 'resources/_resource_list.html' with resources=resources %}
        {% include '_pagination.html' with page_obj=page_obj %}
    </div>
{% endblock body %}

{% block underbody %}
    {{ block.super }}
    {{ filter_form.media }}
    <script>
        $('.pagination-link').click(function (e) {
            e.preventDefault();
            var search = window.location.search;
            var searchObj = querystringToObject(search);
            console.log(searchObj);
            var tagsParameters = '';
            if (searchObj.tags !== undefined){
                for (var i = 0; searchObj.tags.length > i; i++){
                    tagsParameters += '&tags=' + searchObj.tags[i];
                }
            }
            window.location.href = this.href + tagsParameters;
        });

        function querystringToObject(querystring) {
            if (querystring[0] === '?')
                querystring = querystring.slice(1);
            var parameters = querystring.split('&');
            var result = {};
            for (var i = 0; i < parameters.length; i++) {
                var splited_parameter = parameters[i].split('=');
                var key = splited_parameter[0];
                var value = splited_parameter[1];
                if (result[key] === undefined) {
                    result[key] = [];
                }
                result[key].push(value);
            }
            return result;
        }
    </script>
{% endblock underbody %}