{% extends '__base.html' %}
{% block body %}
    <div class="container">
        {% include '_second_nav.html' with show_resources_button=True show_add_resource_button=True show_tags_button=True show_add_review_button=True resource_pk=resource.pk %}
        {% include 'resources/_resource_panel.html' with resource=resource %}
        {% for review in resource.reviews.all %}
            {% include 'reviews/_review_panel.html' with review=review %}
        {% endfor %}
    </div>
{% endblock body %}