{% extends '__base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        {% include '_second_nav.html' with show_add_resource_button=True show_resource_list_nav=True show_tags_button=True %}
        {% include 'resources/_resource_list_nav.html' with newest=newest top_rated=top_rated hot=hot %}
        {% include 'resources/_resource_list.html' with resources=resources edit_resource_button=False %}
        {% include '_pagination.html' with page_obj=page_obj %}
    </div>
{% endblock body %}

{% block underbody %}
    {{ block.super }}
    {{ filter_form.media }}
    <script src="{% static 'js/resources/resource-list-pagination.js' %}"></script>
{% endblock underbody %}