{% extends '__base.html' %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'resources/_resource_panel.html' with resource=resource %}
            {% for review in reviews %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ review.mark }}</div>
                    <div class="panel-body">
                        {{ review.contents }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>